[submodule "browsers/api/firephp"]
	path = browsers/api/firephp
	url = https://github.com/firephp/firephp-core.git
[submodule "browsers/api/chromephp"]
	path = browsers/api/chromephp
	url = https://github.com/ccampbell/chromephp.git
